

.text4{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color:#2952A2 ;
    margin-left: 10px;
    margin-top: 460px;
 }
.page4text{
    width: 50%;
height: 285px;
margin-left: 142px;
gap: 0px;
opacity: 0px;
margin-top: 15px;


}
.image-size{
    width: 950.7px;
    height: 1171px;
    margin-top: -950px;
    margin-left: 70px;
    gap: 0px;
    opacity: 0px;
    
}



.image{
margin-top: 250px;
width: 1232.7px;
height: 1171px;

margin-left: 500px;
gap: 0px;
opacity: 0px;

}
.subhead1{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-align: justified;
    margin-left: -129px;
    
}
.subhead-align{
    width: 464.77px;
    height: 188px;
  margin-top: 15px;
    margin-left: 144.94px;
    gap: 0px;
    opacity: 0px;
    
}
