.align-image{
 width: 40%;
 margin-top: 10px;
 height: 600px;
}
.image2{
    width: 761px;
height: 566.53px;
margin-top: 10px;
margin-left: 44px;
gap: 0px;
opacity: 0px;

}
.page2-font{
    font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 70px;
margin-top: -420px;
text-align: left;
}
.align-text1{
    width: 493px;
    height: 218px;
    color: #2952A2;
    margin-left: 950px;
    gap: 0px;
    opacity: 0px;
}

.page2-subfont{
    
color: #343434;
;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 28px;
text-align: justified;

}
